---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_key>&query=Denver,%20Colorado%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_key>&page=702&query=Denver%2C+Colorado+skyline>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_key>&page=2&query=Denver%2C+Colorado+skyline>;
        rel="next"
      X-Total:
      - '7016'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: UTF-8
      string: '{"total":7016,"total_pages":702,"results":[{"id":"03kb2Q0DeNc","created_at":"2017-10-03T18:53:01-04:00","updated_at":"2019-10-19T18:06:37-04:00","promoted_at":"2017-10-05T15:03:27-04:00","width":3962,"height":4952,"color":"#F6F1EF","description":null,"alt_description":"bird''s-eye
        view photography of concrete high-rise building","urls":{"raw":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExODM0OH0","full":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExODM0OH0","regular":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODM0OH0","small":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExODM0OH0","thumb":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExODM0OH0"},"links":{"self":"https://api.unsplash.com/photos/03kb2Q0DeNc","html":"https://unsplash.com/photos/03kb2Q0DeNc","download":"https://unsplash.com/photos/03kb2Q0DeNc/download","download_location":"https://api.unsplash.com/photos/03kb2Q0DeNc/download"},"categories":[],"likes":64,"liked_by_user":false,"current_user_collections":[],"user":{"id":"IZxXqWvlV7Y","updated_at":"2020-02-07T01:26:10-05:00","username":"xdesro","name":"Henry
        Desro","first_name":"Henry","last_name":"Desro","twitter_username":"xdesro","portfolio_url":"http://henry.codes","bio":"creative
        web developer from denver! credit not required (obviously) but totally appreciated
        \u2764 I''d love to see what you make!","location":"Denver","links":{"self":"https://api.unsplash.com/users/xdesro","html":"https://unsplash.com/@xdesro","photos":"https://api.unsplash.com/users/xdesro/photos","likes":"https://api.unsplash.com/users/xdesro/likes","portfolio":"https://api.unsplash.com/users/xdesro/portfolio","following":"https://api.unsplash.com/users/xdesro/following","followers":"https://api.unsplash.com/users/xdesro/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1507071220073-db3872635b57?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1507071220073-db3872635b57?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1507071220073-db3872635b57?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"xdesro","total_collections":0,"total_likes":2,"total_photos":30,"accepted_tos":true},"tags":[{"type":"landing_page","title":"grey","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"colors","pretty_slug":"Color"},"subcategory":{"slug":"grey","pretty_slug":"Grey"}},"title":"HD
        Grey Wallpapers","subtitle":"Download Free Grey Wallpapers","description":"Choose
        from a curated selection of grey wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"Grey Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free grey
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"oBb-Y26PJgg","created_at":"2017-09-16T07:45:36-04:00","updated_at":"2019-11-21T00:08:38-05:00","promoted_at":"2017-09-16T13:07:55-04:00","width":5904,"height":3936,"color":"#3C3F41","description":null,"alt_description":"unfinished
        wall paint","urls":{"raw":"https://images.unsplash.com/photo-1505562130589-9879683e72da?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1505562130589-9879683e72da?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images.unspla[...]
