---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<google_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 01 Mar 2020 18:06:58 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<dark_sky_api_key>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 181ms
      X-Forecast-Api-Calls:
      - '30'
      X-Response-Time:
      - 102.492ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583086019,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":0,"precipIntensity":0,"precipProbability":0,"temperature":40.18,"apparentTemperature":35.3,"dewPoint":25.52,"humidity":0.56,"pressure":1009.8,"windSpeed":7.1,"windGust":12.65,"windBearing":330,"cloudCover":0.83,"uvIndex":3,"visibility":10,"ozone":336.5},"minutely":{"summary":"Mostly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1583085960,"precipIntensity":0,"precipProbability":0},{"time":1583086020,"precipIntensity":0,"precipProbability":0},{"time":1583086080,"precipIntensity":0,"precipProbability":0},{"time":1583086140,"precipIntensity":0,"precipProbability":0},{"time":1583086200,"precipIntensity":0,"precipProbability":0},{"time":1583086260,"precipIntensity":0,"precipProbability":0},{"time":1583086320,"precipIntensity":0,"precipProbability":0},{"time":1583086380,"precipIntensity":0,"precipProbability":0},{"t[...]
