---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<google_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 00:38:16 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<dark_sky_api_key>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 741ms
      X-Forecast-Api-Calls:
      - '9'
      X-Response-Time:
      - 139.563ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583109496,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":0,"precipIntensity":0,"precipProbability":0,"temperature":37.21,"apparentTemperature":31.83,"dewPoint":28.89,"humidity":0.72,"pressure":1012.9,"windSpeed":6.91,"windGust":13.17,"windBearing":313,"cloudCover":0.82,"uvIndex":0,"visibility":7.463,"ozone":357.5},"minutely":{"summary":"Possible
        flurries starting in 40 min.","icon":"snow","data":[{"time":1583109480,"precipIntensity":0,"precipProbability":0},{"time":1583109540,"precipIntensity":0,"precipProbability":0},{"time":1583109600,"precipIntensity":0,"precipProbability":0},{"time":1583109660,"precipIntensity":0,"precipProbability":0},{"time":1583109720,"precipIntensity":0,"precipProbability":0},{"time":1583109780,"precipIntensity":0,"precipProbability":0},{"time":1583109840,"precipIntensity":0,"precipProbability":0},{"time":1583109900,"precipIntensity":0,"precipProbability":0},{"time":1583109960,"precipIntensity":0.003,"precipIntensityError":0,"precipProbability":0.01,"precipType":"snow"},{"time":1583110020,"precipIntensity":0.003,"precipIntensityError":0,"precipProbability":0.02,"precipType":"snow"},{"time":1583110080,"precipIntensity":0.003,"precipIntensityError":0,"precipProbability":0.02,"precipType":"snow"},{"time":1583110140,"precipIntensity":0,"precipProbability":0},{"time":1583110200,"precipIntensity":0.003,"precipIntensityError":0,"precipProbability":0.03,"precipType":"snow"},{"time":1583110260,"precipIntensity":0.003,"precipIntensityError":0,"precipProbability":[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_key>&query=Denver,%20Colorado%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_key>&page=702&query=Denver%2C+Colorado+skyline>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_key>&page=2&query=Denver%2C+Colorado+skyline>;
        rel="next"
      X-Total:
      - '7016'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: UTF-8
      string: '{"total":7016,"total_pages":702,"results":[{"id":"03kb2Q0DeNc","created_at":"2017-10-03T18:53:01-04:00","updated_at":"2019-10-19T18:06:37-04:00","promoted_at":"2017-10-05T15:03:27-04:00","width":3962,"height":4952,"color":"#F6F1EF","description":null,"alt_description":"bird''s-eye
        view photography of concrete high-rise building","urls":{"raw":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExODM0OH0","full":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExODM0OH0","regular":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODM0OH0","small":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExODM0OH0","thumb":"https://images.unsplash.com/photo-1507071150909-43d8a1651d05?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExODM0OH0"},"links":{"self":"https://api.unsplash.com/photos/03kb2Q0DeNc","html":"https://unsplash.com/photos/03kb2Q0DeNc","download":"https://unsplash.com/photos/03kb2Q0DeNc/download","download_location":"https://api.unsplash.com/photos/03kb2Q0DeNc/download"},"categories":[],"likes":64,"liked_by_user":false,"current_user_collections":[],"user":{"id":"IZxXqWvlV7Y","updated_at":"2020-02-07T01:26:10-05:00","username":"xdesro","name":"Henry
        Desro","first_name":"Henry","last_name":"Desro","twitter_username":"xdesro","portfolio_url":"http://henry.codes","bio":"creative
        web developer from denver! credit not required (obviously) but totally appreciated
        \u2764 I''d love to see what you make!","location":"Denver","links":{"self":"https://api.unsplash.com/users/xdesro","html":"https://unsplash.com/@xdesro","photos":"https://api.unsplash.com/users/xdesro/photos","likes":"https://api.unsplash.com/users/xdesro/likes","portfolio":"https://api.unsplash.com/users/xdesro/portfolio","following":"https://api.unsplash.com/users/xdesro/following","followers":"https://api.unsplash.com/users/xdesro/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1507071220073-db3872635b57?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1507071220073-db3872635b57?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1507071220073-db3872635b57?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"xdesro","total_collections":0,"total_likes":2,"total_photos":30,"accepted_tos":true},"tags":[{"type":"landing_page","title":"grey","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"colors","pretty_slug":"Color"},"subcategory":{"slug":"grey","pretty_slug":"Grey"}},"title":"HD
        Grey Wallpapers","subtitle":"Download Free Grey Wallpapers","description":"Choose
        from a curated selection of grey wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"Grey Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free grey
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"oBb-Y26PJgg","created_at":"2017-09-16T07:45:36-04:00","updated_at":"2019-11-21T00:08:38-05:00","promoted_at":"2017-09-16T13:07:55-04:00","width":5904,"height":3936,"color":"#3C3F41","description":null,"alt_description":"unfinished
        wall paint","urls":{"raw":"https://images.unsplash.com/photo-1505562130589-9879683e72da?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1505562130589-9879683e72da?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images.unspla[...]
